<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>simcha's blog &middot; {{ page.title }}</title>
  <meta name="verify-v1" content="ADnFYWq1MeVbf8+qNPe/GZTvcEsDgOCgWTWrUIPakz8=" >
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  <link rel="alternate" type="application/rss+xml" href="http://github.com/simcha/atom.xml" />
</head>
<body>
  
  <div id="container">
    <div id="header">
    <a class="name" href="/">this blog</a> &middot; <a href="/about/">about</a> &middot; <a href="http://github.com/simcha">on github</a> &middot; <a href="http://github.com/simcha/mappum">mappum</a>
    </div>
    <div id="main">
      {{ content }}
    </div>
  </div>
</body>	
</html>
